.joystick__top {
    position: absolute;
    top: -10px;

    width: 100%;

    display: flex;
    justify-content: space-around;
}

.joystick__top button {
    background-color: var(--default);
    width: 250px;
    height: 50px;

    border: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);

    z-index: -1;
}

.joystick__top .top__button--l1 {
    border-radius: 100px 20px 0 0;
}

.top__button--r1 {
    border-radius: 20px 100px 0 0;
}

.joystick__front {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 300px;

    z-index: 2;
}
