.left-hand {
    box-shadow: inset 10px -5px 10px -4px rgba(0, 0, 0, 0.3);
}

.left-hand .directional {
    padding: 2rem;
    width: 70%;
    height: 70%;
    background-color: var(--default);

    border-radius: 50%;
    box-shadow: inset 2px 0 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.directional .row,
.directional .column {
    position: absolute;

    background-color: var(--gray-low);
    
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.directional .row {
    width: 170px;
    height: 55px;
    border-radius: 10px;
    
    padding: 0 0.5rem;
    
    z-index: 1;
}

.directional .column {
    width: 55px;
    height: 170px;
    
    padding: 0.5rem 0;

    flex-direction: column;
}

.arrow-left {
    border-top: 13px solid var(--gray-low);
    border-bottom: 13px solid var(--gray-low);
    border-right: 25px solid var(--gray);
}

.arrow-right {
    border-top: 13px solid var(--gray-low);
    border-bottom: 13px solid var(--gray-low);
    border-left: 25px solid var(--gray);
}

.row span {
    background-color: var(--gray);
    height: 100%;
    width: 55px;

    box-shadow: inset 2px 0 10px rgba(0, 0, 0, 0.3);
}

.arrow-up {
    border-left: 13px solid var(--gray-low);
    border-right: 13px solid var(--gray-low);
    border-bottom: 25px solid var(--gray);
}

.arrow-down {
    border-left: 13px solid var(--gray-low);
    border-right: 13px solid var(--gray-low);
    border-top: 25px solid var(--gray);
}

.arrow-down:hover {
    transform: scale(0.8);
}