.left-hand {
    box-shadow: inset 10px -5px 10px -4px rgba(0, 0, 0, 0.3);
}

.left-hand .directional {
    padding: 2rem;
    width: 70%;
    height: 70%;
    background-color: var(--default);

    border-radius: 50%;
    box-shadow: inset 2px 0 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.directional .row,
.directional .column {
    position: absolute;

    background-color: var(--gray-low);    
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directional .row {
    width: 170px;
    height: 55px;

    z-index: 1;
}

.directional .column {
    width: 55px;
    height: 170px;

    flex-direction: column;
}

.bto__left,
.bto__right,
.bto__up,
.bto__down {
    background-color: var(--gray-low);
    width: 55px;
    height: 55px;

    border-radius: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.bto__left:active,
.bto__right:active,
.bto__up:active,
.bto__down:active {
    transform: scale(0.95);
    border: 1px solid var(--gray-dark);
} 

.bto__left .arrow {
    border-top: 20px solid var(--gray-low);
    border-bottom: 20px solid var(--gray-low);
    border-right: 35px solid var(--gray);
}

.bto__right .arrow {
    border-top: 20px solid var(--gray-low);
    border-bottom: 20px solid var(--gray-low);
    border-left: 35px solid var(--gray);
}

.bto__up .arrow {
    border-left: 20px solid var(--gray-low);
    border-right: 20px solid var(--gray-low);
    border-bottom: 35px solid var(--gray);
}

.bto__down .arrow {
    border-left: 20px solid var(--gray-low);
    border-right: 20px solid var(--gray-low);
    border-top: 35px solid var(--gray);
}
