.right-hand {
    box-shadow: inset -10px -5px 10px -4px rgba(0, 0, 0, 0.3);
}

.right-hand .actions {
    background-color: var(--purple-base);
    width: 100%;
    height: 100%;

    border: 2px solid var(--gray-dark);
    border-radius: 50%;
    box-shadow: inset 2px 0 10px rgba(0, 0, 0, 0.4);

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
}

.actions__buttons--group1,
.actions__buttons--group2 {
    width: 80px;
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: rotate(45deg);
}

.actions__buttons--group1 span,
.actions__buttons--group2 span {
    color: var(--default);
    font-size: 1.8rem;
    font-weight: bold;

    transform: rotate(-45deg);
}

.actions__buttons--group1 {
    position: absolute;
    top: 0;
    left: 25%;
}

.actions__buttons--group2 {
    position: absolute;
    bottom: 0;
    right: 25%;
}

.actions__buttons {
    background-color: var(--default);
    width: 100%;
    height: 80%;

    margin: 0.5rem;
    padding: 0.2rem;

    border: 2px solid var(--gray-low);
    border-bottom: 4px solid var(--gray);
    border-right: 4px solid var(--gray);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.buttons__bt--y,
.buttons__bt--x,
.buttons__bt--b,
.buttons__bt--a {
    width: 70px;
    height: 70px;

    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.buttons__bt--y:active,
.buttons__bt--x:active,
.buttons__bt--b:active,
.buttons__bt--a:active {
    transform: scale(0.95);
}

.buttons__bt--y,
.buttons__bt--x {
    background-color: var(--purple-low);
    
    border: 2px solid var(--gray-dark);
    border-bottom: 4px solid var(--gray-dark);
    border-right: 4px solid var(--gray-dark);
}

.buttons__bt--b,
.buttons__bt--a {
    background-color: var(--purple);
    
    border: 2px solid var(--gray-dark);
    border-bottom: 4px solid var(--gray-dark);
    border-right: 4px solid var(--gray-dark);
}

